<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="Bingo, but Basic" />

    <title>Basic Bingo</title>

    <link rel="stylesheet" href="/style.css" />

    <script src="/client.js" defer></script>
  </head>
  <body onload="playerLoaded()">
    <header>
      <h2>
        Joined Game!
      </h2>
    </header>

    <main>
      <h3 id="number-zone"></h3>
      <button onclick="enableSpeech()" id="enable-speech">
        Enable Speech!
      </button>
    </main>

    <footer>Made by Lenny</footer>
  </body>
</html>
